@import "src/variables.scss";

:host {
  background-color: $primary-bg-color;
  color: $primary-fg-color;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  a {
    text-decoration: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5em;

    &:hover {
      text-decoration: underline;
    }
    span.icon-logo {
      font-size: 2.3em;
    }
    span {
      font-size: 1.4em;
    }
  }

  button {
    font-size: 0.7em;
  }
}
