@import "src/variables";

:host {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alternate-bg-color);
  color: var(--primary-fg-color);
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
