.skeleton {
  &.name {
    width: 50%;
  }
  &.price {
    width: 30%;
  }
  &.qty {
    width: 70%;
  }
}

td {
  &.name {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
}
