<main>
  <h1>Liste des articles</h1>
  <div class="list">
    <nav>
      <button
        title="Filtre & Ordre"
        aria-label="Filtre & Ordre"
        (click)="showSidebar = true"
      >
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <button title="Raffraichir" aria-label="Raffraichir" (click)="refresh()">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
      <button title="Ajouter" arial-label="Ajouter" routerLink="add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button
        title="Supprimer"
        arial-label="Supprimer"
        [hidden]="selectedArticles.size === 0"
        (click)="remove()"
      >
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </nav>

    <ng-template #loading>
      <table>
        <tbody>
          <tr *ngFor="let a of [1, 2, 3, 4]">
            <td class="name skeleton">loading...</td>
            <td class="price skeleton">loading...</td>
            <td class="qty skeleton">loading...</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <table *ngIf="articleService.articles$ | async; else loading">
      <tbody>
        <tr
          [class.selected]="selectedArticles.has(a)"
          (click)="toggle(a)"
          *ngFor="let a of articleService.articles$ | async"
        >
          <td class="name">
            {{ a.name }}
          </td>
          <td class="price">{{ a.price }} €</td>
          <td class="qty">{{ a.qty }} en stock</td>
          <td class="action">
            <button
              arial-label="Editer"
              routerLink="edit"
              [queryParams]="{ id: a.id }"
            >
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<app-sidebar [(show)]="showSidebar">
  <h1>Ordonner par</h1>
  <button>
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
  <select name="" id="">
    <option value="x">x</option>
    <option value="y">y</option>
    <option value="z">z</option>
  </select>
  <select name="" id="">
    <option value="ASC">ASC</option>
    <option value="DESC">DESC</option>
  </select>
  <h1>Filtrer par</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
    repellendus ut itaque? Asperiores nostrum commodi autem, quas atque saepe ea
    ab ipsa odit! Consectetur repellendus praesentium optio error placeat
    laborum?
  </p>
</app-sidebar>
