nav {
  display: flex;
  gap: 0.3em;
  flex-wrap: wrap;
}

table tbody {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;

  tr {
    cursor: pointer;
    border: var(--border) #bbb;
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: column;
    position: relative;

    &:hover {
      background-color: var(--btn-hover-bg-color);
      td.action {
        display: block;
        position: absolute;
        top: -0.7em;
        right: -1em;
        button {
          font-size: 0.5em;
          border-color: black;
        }
      }
    }

    &.selected {
      background-color: var(--btn-active-bg-color);
    }

    td {
      padding: var(--padding);

      &.name {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
      }

      &.action {
        display: none;
      }
    }
  }
}
