<main>
  <h1>Liste des articles</h1>
  <nav>
    <button arial-label="Raffraichir">
      <fa-icon [icon]="faSync"></fa-icon>
    </button>
    <button arial-label="Ajouter" routerLink="add">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
    <button arial-label="Supprimer" [hidden]="selectedArticles.size === 0">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </nav>

  <table>
    <tbody>
      <tr
        [class.selected]="selectedArticles.has(a)"
        (click)="toggle(a)"
        *ngFor="let a of articleService.articles$ | async"
      >
        <td class="name">
          {{ a.name }}
        </td>
        <td class="price">{{ a.price }} €</td>
        <td class="qty">{{ a.qty }} en stock</td>
        <td class="action">
          <button arial-label="Editer" routerLink="edit">
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
