/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

@import "./theme.scss";

body {
  font-family: sans-serif;
  color: $fg-color;
  background-color: $bg-color;
}
