:root {
  // shape
  --border-radius: 0.3em;
  --padding: 0.5em 1em;
  --border: 0.1em solid;

  // by default theme is light.
  --bg-color: white;
  --fg-color: black;
  --primary-bg-color: hsl(240, 100%, 95%);
  --primary-fg-color: black;
  --alternate-bg-color: hsl(240, 0%, 95%);

  --btn-bg-color: #eee;
  --btn-hover-bg-color: #ddd;
  --btn-active-bg-color: #ccc;
  --btn-fg-color: black;
  --btn-primary-bg-color: hsl(240, 100%, 70%);
  --btn-primary-hover-bg-color: hsl(240, 100%, 80%);
  --btn-primary-active-bg-color: hsl(240, 100%, 85%);
  --btn-primary-fg-color: white;
  --btn-disabled-fg-color: gray;
}

body.dark {
  --bg-color: black;
  --fg-color: white;
  --primary-bg-color: hsl(240, 100%, 20%);
  --primary-fg-color: white;
  --alternate-bg-color: hsl(240, 0%, 20%);

  --btn-bg-color: #333;
  --btn-hover-bg-color: #555;
  --btn-active-bg-color: #777;
  --btn-fg-color: white;
  --btn-primary-bg-color: hsl(240, 100%, 40%);
  --btn-primary-hover-bg-color: hsl(240, 100%, 50%);
  --btn-primary-active-bg-color: hsl(240, 100%, 60%);
  --btn-primary-fg-color: white;
  --btn-disabled-fg-color: gray;
}
