$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$primary-bg-color: var(--primary-bg-color);
$primary-fg-color: var(--primary-fg-color);
$alternate-bg-color: var(--alternate-bg-color);

$btn-bg-color: var(--btn-bg-color);
$btn-hover-bg-color: var(--btn-hover-bg-color);
$btn-active-bg-color: var(--btn-active-bg-color);
$btn-fg-color: var(--btn-fg-color);
$btn-primary-bg-color: var(--btn-primary-bg-color);
$btn-primary-hover-bg-color: var(--btn-primary-hover-bg-color);
$btn-primary-active-bg-color: var(--btn-primary-active-bg-color);
$btn-primary-fg-color: var(--btn-primary-fg-color);
$btn-disabled-fg-color: var(--btn-disabled-fg-color);
